body {
  background-image: url('../image/cards/background.jpg');
}
.main-container {
  background-color: white;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 40px;
  border: 0.5px solid #eaecef;

}
.upper-container {
  display: flex;
}
.lower-container {
  display: flex;
  
}
.item {
  flex: 1;
}
.item2 {
  flex: 2;
  display: flex;
}
.co-container--align {
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
} 
.co-container--padding {
  padding: 10px;
}
li::after {
  content: " / ";
  padding: 7px;
}
li:last-child:after {
  content: "";
  padding: 0px;
}
.co-container--bold {
  font-weight: bold;
}
.co-container--background {
  background-color: #eaecef;
}
.co-container--margin-bottom {
  margin-bottom: 0px;
}
.co-container--margin-top {
  border-top: 0.5px solid #eaecef;
  margin-top: 0px;
}
.main-container--shadow {
    box-shadow: 5px 5px 10px #888888;
}
.co-payment {
  display: flex;
}
.co-cart {
  flex: 1;
}
.wallet {
  display: flex;
}
.wallet-img {
  margin-right: 30px;
  height: 100px;
}
.wallet-img--padding {
  padding-left: 50px;
}
.newCard {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;
}
.newCard-inner {
  display: flex;
  padding-top: 9px;
}
.co-button {
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  border-width: 1px;
  background-color: rgb(91, 196, 91);
  font-family:'Times New Roman', Times, serif;
  color: white;
}
.newCard> input {
  border-radius: 5px;
  border-width: 1px;
  margin-top: 9px;
  padding: 10px;
}
.newCard-inner> input {
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
}
.newCard-inner--margin {
  margin-right: 8px;
}

/* Cart Block */

.cart {
  
}
.cart-upper {
  display: flex;
  flex-direction: column;
}
.cart-upper-img {
  border: 5px solid rgb(204, 201, 201);
  width: 60px;
}
.product-mobile {
  display: flex;
  flex-direction: row;
}
.text {
  display: flex;
  flex-direction: column;
}
.img-item1 {
  padding-left: 10px;
  margin: 0px;
}
.img-item2 {
  font-size: 10px;
  padding-left: 10px;
  margin-top: 10px;
}
.img-item3 {
  font-size: 8px;
  padding-left: 10px;
  margin-top: 0px;
}

.cart-lower {
  display: flex;
  flex-direction: column;
}
